*{
  font-family: monospace;
  margin: 0 auto;
}

.slashes{
  color: #FFCC00;
}

.theme--light {
--background: white;
--proj-text: white;
--card-color: black;
--text-color: black;
--neck-image: url(./assets/berber2.png);
--github-logo: url(./assets/github.png);
}
.theme--dark {
  --background: black;
  --proj-text: black;
  --card-color: white;
  --text-color: white;
  --neck-image: url(./assets/berber2inverted.png);
  --github-logo: url(./assets/github-inverted.png);
}
#root{
  background-image: url(./assets/tumeric.png);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.switcher{
  display: flex;

.switcher__label {
  display:flex;
  // justify-content: flex-end;
  // justify-content: center;
  // align-items:center;
  // margin-right:3em;
  // background-color: var(--background);
  // background: none;
  // width: 100%;
  text-shadow: 0 0 5px #423939, 0 0 5px #f6f6f8;
  color: var(--text-color);
  // text-shadow: -1px 1px 2px #ffffff,
	// 			  1px 1px 2px #ffffff,
	// 			  1px -1px 0 #ffffff,
	// 			  -1px -1px 0 #ffffff;
  padding-top: 5px;
}

.switcher__control {
  position:relative;
  width:3em;
  height:1em;
  margin-right:0.5em;
  background-color: var(--text-color);
  border:1px solid var(--grey);
  border-radius:30px;
  box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.switcher__control::before {
  content:"";
  position: absolute;
  top:calc(-1.75em / 4);
  left: calc(100% - 1.75rem);
  
  width:1.75rem;
  height:1.75rem;
  background:grey;
  border:1px solid var(--grey);
  border-radius:50%;
  
  transition:0.2s;
}
.switcher__input:checked + .switcher__label .switcher__control::before {
  left:-1px;
}
.switcher__mode::before {
  content:"Dark ";
}
.switcher__input:checked + .switcher__label .switcher__mode::before {
  content:"Light ";
}
.switcher__input {
  display:none;
}
}

.hero{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--background);
  color: var(--text-color);
  margin: 20px 0 50px 0;


  .left-side{
    background-image: var(--neck-image);
      background-size: contain;
      background-repeat: no-repeat;
      height: 300px;
      width: 230px;
  }

  .right-side{
    font-size: 15px;
    .sub-title{
      font-size: 13px;
      text-indent: 3.5em;
    }
    .title-box{
      display: flex;
      align-items: center;
      .title-left{
        font-size: 2.5em;
      }
    }
  }
}
.about{
  display: flex;
  background: var(--background);
  color: var(--text-color);
  margin: 100px 0 100px 0;

  .left-side{
    // margin: 50px 0 50px 0;
    padding: 20px;
    max-width: 40em;
  }
  .right-side{
    padding: 20px;
    max-width: 40em;
  }
  

}

.proj-box{
  background: var(--background);
  margin: 50px 0 50px 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .projs-wrapper {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 30px;
  
  
    div.proj1, div.proj2, div.proj3, div.proj4{
    text-align: center;
    height: 15em;
    width: 20em;
    background-color: var(--card-color);
    color: var(--proj-text);
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
  

    .proj1-image{
      height: 150px;
      background-image: url(./assets/proj1.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .proj2-image{
      height: 150px;
      background-image: url(./assets/proj2.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .proj3-image{
      height: 150px;
      background-image: url(./assets/proj3.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .proj4-image{
      height: 150px;
      background-image: url(./assets/proj4.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    }
  }
}

.proj-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  // background: var(--background);

  .clip-box{
    display: flex;
    justify-content: center;
    margin: 20px;
    video{
      width: 65%;
    }
  }
  p.about-proj{
    max-width: 40em;
    margin-bottom: 1em;
    line-height: 1.5em;
  }

  .tech-list {
    // list-style: none;
    li{
    // display: inline;
    float: left;
    margin: 15px;
  }
}
}

.contact{
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  margin-top: 100px;

  .linkedin-logo, .github-logo {
    height: 40px;
    margin: 5px;
  }
  img.github-logo{
    // background: var(--github-logo)
    // background: url(./assets/github.png);
  }
}


.pattern {
  height: 60px;
  width: 100%;
  margin: 0;
  background-image: url(./assets/berber5.png);
  background-size: contain;
}